{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <!-- Sign Up Card -->
            <div class="card shadow-lg">
                <div class="card-header text-white text-center">
                    <h3>{% trans "Sign Up" %}</h3>
                </div>
                <div class="card-body">
                    <!-- Intro Text -->
                    <p class="text-secondary text-center mb-4">
                        {% blocktrans %}Already have an account? Then please <a class="link" href="{{ login_url }}">sign in</a>.{% endblocktrans %}
                    </p>

                    <!-- Sign Up Form -->
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-primary-dark w-100 mt-3" type="submit">{% trans "Sign Up" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
