core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.env
*.env
config/settings/local.py
config/settings/dev.py
__pycache__/
*.py[cod]
*$py.class
venv/
env/