{% extends "base.html" %}

{% load custom_filters %}
{% load static %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 mb-4">
            <div class="card shadow-lg">
                <!-- Character Header -->
                <div class="card-header text-center">
                    <h2>{{ character.name }}</h2>
                    <p class="mb-0">Played by: {{ character.owner }}</p>
                    
                    <!-- Edit / Delete buttons for character owner, gm, admin-->
                    {% if character.slug and can_edit %}
                        <a href="{% url 'character_edit' character.slug %}" class="btn btn-primary mt-3">Edit Character</a>
                        <a href="{% url 'character_delete' character.slug %}" class="btn btn-danger mt-3">Delete Character</a>
                    {% endif %}
                </div>

                <!-- Profile Image -->
                <div class="text-center mt-3">
                    {% if character.image %}
                        <img src="{{ character.image.url }}" class="rounded-circle" alt="Profile Image" width="120">
                    {% else %}
                        <img src="{% static 'images/placeholder_profile.svg' %}" class="rounded-circle" alt="Profile Image" width="120">
                    {% endif %}
                </div>

                <!-- Character Info -->
                <div class="card-body">
                    <!-- Basic Info -->
                    <div class="row mb-4 pb-4 basic-info">
                        <div class="col-4">
                            <strong>Class:</strong> {{ character.character_class }}
                        </div>
                        <div class="col-4">
                            <strong>Race:</strong> {{ character.character_race }}
                        </div>
                        <div class="col-4">
                            <strong>HP:</strong> {{ character.hp }}
                        </div>
                    </div>
                    
                    <!-- Status effects -->
                    <h5 class="text-secondary mb-3">Status Effects</h5>
                    <div class="row">
                        {% for status, label in status_effects %}
                        <div class="col-12 mb-2">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="{{ status }}" disabled {% if character|attr:status %}checked{% endif %}>
                                <label class="form-check-label" for="{{ status }}">{{ label }}</label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Exhaustion -->
                    <div class="mt-4">
                        <h5 class="text-secondary">Exhaustion Level</h5>
                        <p>{{ character.exhaustion }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}