{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow-lg">
                <div class="card-header text-center text-white">
                    <h3>Create Character</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary-dark w-100 mt-3">Create Character</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
